<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <title>About Me</title>
</head>
<body>
<div class="nav sticky-top justify-content-center">
<ul class="nav justify-content-center">
    <li class="nav-item sticky-top">
      <a class="nav-link active" aria-current="page" href="http://localhost:8080/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aboutme">About Me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contactme">Contact Me</a>
    </li>
  </ul>
</div>

  <div class="profile-info">
    <div class="profile-sections">
      <h3 class="underline-text">About Me</h3>
    <section>
        <h4 class="underline-text">Background & Education</h4>
        <p>Completed by SSC in 2020 and HSC in 2022.<BR>
        Currently pursuing BTech in Computer Engineering at Pillai College Of Engineering,New Panvel.</p>
    </section>

    <section>
        <h4 class="underline-text">Professional Experience</h4>
        <p>Intern at Prodigy Infotech as a Web Developer.</p>
    </section>

    <section>
        <h4 class="underline-text">Skills</h4>
        <ul>
            <li>Full Stack Web Developer</li>
            <li>Java Programmer</li>
            <li>MongoDB , ExpressJS , React , NodeJS</li>
            <li>SQL</li>
        </ul>
    </section>

    <section>
        <h4 class="underline-text">Let's Connect!</h4>
        <p>I'm always open to new opportunities, collaborations, and conversations. Feel free to get in touch with me.</p>
    </section>

    <footer>
        <p>Thank you for visiting my portfolio – I look forward to connecting with you!</p>
        <p><strong>Sarthak Vitmal</strong></p>
    </footer>
</div>
</div>
</body>

</html>

</body>
</html>